<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="giancarlo.estacio.com.pnr_app">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Screen2" />
        <activity android:name=".aboutus" />
        <activity android:name=".trivia2" />
        <activity android:name=".Fares" />
        <activity android:name=".Alabang" />
        <activity android:name=".Bicutan" />
        <activity android:name=".Binan" />
        <activity android:name=".Blumentritt" />
        <activity android:name=".Buendia" />
        <activity android:name=".Cabuyao" />
        <activity android:name=".Calamba" />
        <activity android:name=".Edsa" />
        <activity android:name=".Espana" />
        <activity android:name=".FoodT" />
        <activity android:name=".Golden" />
        <activity android:name=".Laon" />
        <activity android:name=".Mamatid" />
        <activity android:name=".Manila" />
        <activity android:name=".Muntinlupa" />
        <activity android:name=".Nichols" />
        <activity android:name=".Pacita" />
        <activity android:name=".Paco" />
        <activity android:name=".Pandacan" />
        <activity android:name=".PasayRoad" />
        <activity android:name=".SanAndres" />
        <activity android:name=".SanPedro" />
        <activity android:name=".SantaRosa" />
        <activity android:name=".StaMesa" />
        <activity android:name=".Sucat" />
        <activity android:name=".VitoCruz"></activity>
    </application>

</manifest>